.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}
/* The background image will be in the center, with the container transparent.. */

.login-wrap {
    width: 100%;
    margin: 0;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
    float: left;
}
/* The background image will be in the left-side, twith the container transparent.. */

body {
    margin: 0;
    padding: 0;
    background: url(http://localhost/github/Login-BusCompany/_background.jpg) no-repeat center;
    background-size: cover;
  }
/* The background image will be in full page, outside the container. */

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background:url(http://localhost/github/Login-BusCompany/_background.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
/* The background image will be only in the container.  */